{% extends 'base.html' %}

{% block content %}
<h1>toDo Manager</h1>
<br>
<div>
    <div id="task-box">
    <h2>New Tasks:</h2>

    <ul>
        {% for task in task_list %}

        {% if "now" in task %}
        <strong>!important</strong>
        {% endif %}

        <li>{{ task }}</li>
        {% endfor %}

    </ul>
</div>
    <button onclick="taskHider()"">Show/hide tasks</button> 
    <form action="/todos" method="POST">
        <input type="text" name="task-input" id="task-input">
        <input type="submit" value="Add Task">
    </form>    
</div>

{% endblock %}
